* {
    margin: 0;
    padding: 0;
}
p{
	margin: 10px;
	font-size: 20px;
}
.chuang {
    width: 400px;
    height: 300px;
    border: #00C0A5 solid 1px;
    margin-bottom: 100px;
    position: absolute;
}

#one {
    top: 100px;
    left: calc(50% - 450px);
}

#two {
    top: 100px;
    left: 50%;
}

#three {
    top: 450px;
    left: calc(50% - 450px);
}

#four {
    top: 450px;
    left: 50%;
}

#five {
    top: 800px;
    left: calc(50% - 150px);
    position: absolute;
}

#five p {
    margin: 10px;
}

video,
#screenshot-img {
    width: 400px;
    height: 300px;
}

video {
    background: rgba(255, 255, 255, 0.5);
}

button {
    background: #333;
    color: #FFF;
    border-radius: 4px;
    border: 0;
    padding: 10px 14px;
    cursor: pointer;
    -webkit-appearance: button;
}

h1 {
    font-size: 12px;
    color: #444;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropDownList {
    position: absolute;
    top: 800px;
    left: 50%;
}

.dropDownList div.dropdown {
    float: left;
    margin-right: 120px;
}

.dropDownList span {
    display: block;
    width: 146px;
    height: 26px;
    line-height: 26px;
    text-indent: 12px;
    border: solid 1px #83BBD9;
    cursor: default;
}

.dropDownList span.over {
    background-position: left bottom;
    border-color: #B4C91A;
}

.dropDownList ul {
    width: 200px;
    display: none;
    position: absolute;
}

.dropDownList ul li {
    background: #eee;
    height: 20px;
    width: 100%;
    padding: 3px 0;
    text-indent: 12px;
    cursor: default;
    line-height: 20px;
}

/*普通状态下的样式*/

.dropDownList ul li.normal {
    background: #eee;
}

/*鼠标移上的样式*/

.dropDownList ul li.over {
    background: #ccc;
}

/*被选中的样式*/

.dropDownList ul li.current {
    background: #c2c2c2;
    font-weight: bold;
}

.dropDownList ul.show {
    display: block;
}